
<h3>Add a New Trip Page</h3>
<p>Enter the following information.</p>

<form method='post' action='/addTripForm'>

<p>Select City <select name='city'>
<option value='chicago'>chicago</option>
<option value='cincinnati'>cincinnati</option>
<option value='indianapolis'>indianapolis</option>
<option value='nashville'>nashville</option>
</select> </p>

<p><input type='text' name='date'> Trip Date (yyyy-mm-dd) </p>
<p><input type='text' name='miles'> Enter Round-Trip Miles </p>
<p><input type='text' name='gallons'> Enter Total Gallons Used </p>

<p><input type='submit'></p>
</form>

