<h3>Get Trips by City</h3>

<p>Drop down list that populates a table with</p>
<p>Use the drop down list to filter trips by city</p>

<form method='post' action='/getCityForm'>
<p>Select City <select name='city'>
<option value='chicago'>chicago</option>
<option value='cincinnati'>cincinnati</option>
<option value='indianapolis'>indianapolis</option>
<option value='nashville'>nashville</option>
</select> </p>
<p><input type='submit'></p>
</form>